<a href="https://colab.research.google.com/github/Vrush-cmd/House-Price-Prediction/blob/main/house_prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('train.csv')
df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [4]:
df.columns

Index(['Id', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig',
       'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType',
       'HouseStyle', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd',
       'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType',
       'MasVnrArea', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual',
       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1',
       'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating',
       'HeatingQC', 'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual',
       'TotRmsAbvGrd', 'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType',
       'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual',
       'GarageCond', 'PavedDrive', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'PoolQC',
       'Fence', 'MiscFeature', 'MiscVal', 'MoSold', 'YrSold', 'SaleType',
       'SaleCondition', 'SalePrice'],
      dtype='object')

In [5]:
df.dtypes

Id                 int64
MSSubClass         int64
MSZoning          object
LotFrontage      float64
LotArea            int64
                  ...
MoSold             int64
YrSold             int64
SaleType          object
SaleCondition     object
SalePrice          int64
Length: 81, dtype: object

In [6]:
columns_numeric = df.dtypes[(df.dtypes=='int64') | (df.dtypes=='float64')].index
columns_numeric

Index(['Id', 'MSSubClass', 'LotFrontage', 'LotArea', 'OverallQual',
       'OverallCond', 'YearBuilt', 'YearRemodAdd', 'MasVnrArea', 'BsmtFinSF1',
       'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'TotRmsAbvGrd',
       'Fireplaces', 'GarageYrBlt', 'GarageCars', 'GarageArea', 'WoodDeckSF',
       'OpenPorchSF', 'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea',
       'MiscVal', 'MoSold', 'YrSold', 'SalePrice'],
      dtype='object')

In [7]:
df[columns_numeric].isna().sum()

Id                 0
MSSubClass         0
LotFrontage      259
LotArea            0
OverallQual        0
OverallCond        0
YearBuilt          0
YearRemodAdd       0
MasVnrArea         8
BsmtFinSF1         0
BsmtFinSF2         0
BsmtUnfSF          0
TotalBsmtSF        0
1stFlrSF           0
2ndFlrSF           0
LowQualFinSF       0
GrLivArea          0
BsmtFullBath       0
BsmtHalfBath       0
FullBath           0
HalfBath           0
BedroomAbvGr       0
KitchenAbvGr       0
TotRmsAbvGrd       0
Fireplaces         0
GarageYrBlt       81
GarageCars         0
GarageArea         0
WoodDeckSF         0
OpenPorchSF        0
EnclosedPorch      0
3SsnPorch          0
ScreenPorch        0
PoolArea           0
MiscVal            0
MoSold             0
YrSold             0
SalePrice          0
dtype: int64

In [8]:
columns_object = df.dtypes[df.dtypes=='object'].index

In [9]:
df[columns_object].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 43 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   MSZoning       1460 non-null   object
 1   Street         1460 non-null   object
 2   Alley          91 non-null     object
 3   LotShape       1460 non-null   object
 4   LandContour    1460 non-null   object
 5   Utilities      1460 non-null   object
 6   LotConfig      1460 non-null   object
 7   LandSlope      1460 non-null   object
 8   Neighborhood   1460 non-null   object
 9   Condition1     1460 non-null   object
 10  Condition2     1460 non-null   object
 11  BldgType       1460 non-null   object
 12  HouseStyle     1460 non-null   object
 13  RoofStyle      1460 non-null   object
 14  RoofMatl       1460 non-null   object
 15  Exterior1st    1460 non-null   object
 16  Exterior2nd    1460 non-null   object
 17  MasVnrType     1452 non-null   object
 18  ExterQual      1460 non-null   object
 19  ExterCond      1460 non-null   object
 20  Foundation     1460 non-null   object
 21  BsmtQual       1423 non-null   object
 22  BsmtCond       1423 non-null   object
 23  BsmtExposure   1422 non-null   object
 24  BsmtFinType1   1423 non-null   object
 25  BsmtFinType2   1422 non-null   object
 26  Heating        1460 non-null   object
 27  HeatingQC      1460 non-null   object
 28  CentralAir     1460 non-null   object
 29  Electrical     1459 non-null   object
 30  KitchenQual    1460 non-null   object
 31  Functional     1460 non-null   object
 32  FireplaceQu    770 non-null    object
 33  GarageType     1379 non-null   object
 34  GarageFinish   1379 non-null   object
 35  GarageQual     1379 non-null   object
 36  GarageCond     1379 non-null   object
 37  PavedDrive     1460 non-null   object
 38  PoolQC         7 non-null      object
 39  Fence          281 non-null    object
 40  MiscFeature    54 non-null     object
 41  SaleType       1460 non-null   object
 42  SaleCondition  1460 non-null   object
dtypes: object(43)
memory usage: 490.6+ KB

In [10]:
for col in columns_numeric:
  df[col].fillna(value=df[col].mean(),inplace=True)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 81 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             1460 non-null   int64
 1   MSSubClass     1460 non-null   int64
 2   MSZoning       1460 non-null   object
 3   LotFrontage    1460 non-null   float64
 4   LotArea        1460 non-null   int64
 5   Street         1460 non-null   object
 6   Alley          91 non-null     object
 7   LotShape       1460 non-null   object
 8   LandContour    1460 non-null   object
 9   Utilities      1460 non-null   object
 10  LotConfig      1460 non-null   object
 11  LandSlope      1460 non-null   object
 12  Neighborhood   1460 non-null   object
 13  Condition1     1460 non-null   object
 14  Condition2     1460 non-null   object
 15  BldgType       1460 non-null   object
 16  HouseStyle     1460 non-null   object
 17  OverallQual    1460 non-null   int64
 18  OverallCond    1460 non-null   int64
 19  YearBuilt      1460 non-null   int64
 20  YearRemodAdd   1460 non-null   int64
 21  RoofStyle      1460 non-null   object
 22  RoofMatl       1460 non-null   object
 23  Exterior1st    1460 non-null   object
 24  Exterior2nd    1460 non-null   object
 25  MasVnrType     1452 non-null   object
 26  MasVnrArea     1460 non-null   float64
 27  ExterQual      1460 non-null   object
 28  ExterCond      1460 non-null   object
 29  Foundation     1460 non-null   object
 30  BsmtQual       1423 non-null   object
 31  BsmtCond       1423 non-null   object
 32  BsmtExposure   1422 non-null   object
 33  BsmtFinType1   1423 non-null   object
 34  BsmtFinSF1     1460 non-null   int64
 35  BsmtFinType2   1422 non-null   object
 36  BsmtFinSF2     1460 non-null   int64
 37  BsmtUnfSF      1460 non-null   int64
 38  TotalBsmtSF    1460 non-null   int64
 39  Heating        1460 non-null   object
 40  HeatingQC      1460 non-null   object
 41  CentralAir     1460 non-null   object
 42  Electrical     1459 non-null   object
 43  1stFlrSF       1460 non-null   int64
 44  2ndFlrSF       1460 non-null   int64
 45  LowQualFinSF   1460 non-null   int64
 46  GrLivArea      1460 non-null   int64
 47  BsmtFullBath   1460 non-null   int64
 48  BsmtHalfBath   1460 non-null   int64
 49  FullBath       1460 non-null   int64
 50  HalfBath       1460 non-null   int64
 51  BedroomAbvGr   1460 non-null   int64
 52  KitchenAbvGr   1460 non-null   int64
 53  KitchenQual    1460 non-null   object
 54  TotRmsAbvGrd   1460 non-null   int64
 55  Functional     1460 non-null   object
 56  Fireplaces     1460 non-null   int64
 57  FireplaceQu    770 non-null    object
 58  GarageType     1379 non-null   object
 59  GarageYrBlt    1460 non-null   float64
 60  GarageFinish   1379 non-null   object
 61  GarageCars     1460 non-null   int64
 62  GarageArea     1460 non-null   int64
 63  GarageQual     1379 non-null   object
 64  GarageCond     1379 non-null   object
 65  PavedDrive     1460 non-null   object
 66  WoodDeckSF     1460 non-null   int64
 67  OpenPorchSF    1460 non-null   int64
 68  EnclosedPorch  1460 non-null   int64
 69  3SsnPorch      1460 non-null   int64
 70  ScreenPorch    1460 non-null   int64
 71  PoolArea       1460 non-null   int64
 72  PoolQC         7 non-null      object
 73  Fence          281 non-null    object
 74  MiscFeature    54 non-null     object
 75  MiscVal        1460 non-null   int64
 76  MoSold         1460 non-null   int64
 77  YrSold         1460 non-null   int64
 78  SaleType       1460 non-null   object
 79  SaleCondition  1460 non-null   object
 80  SalePrice      1460 non-null   int64
dtypes: float64(3), int64(35), object(43)
memory usage: 924.0+ KB

In [12]:
df[columns_numeric].isna().sum()

Id               0
MSSubClass       0
LotFrontage      0
LotArea          0
OverallQual      0
OverallCond      0
YearBuilt        0
YearRemodAdd     0
MasVnrArea       0
BsmtFinSF1       0
BsmtFinSF2       0
BsmtUnfSF        0
TotalBsmtSF      0
1stFlrSF         0
2ndFlrSF         0
LowQualFinSF     0
GrLivArea        0
BsmtFullBath     0
BsmtHalfBath     0
FullBath         0
HalfBath         0
BedroomAbvGr     0
KitchenAbvGr     0
TotRmsAbvGrd     0
Fireplaces       0
GarageYrBlt      0
GarageCars       0
GarageArea       0
WoodDeckSF       0
OpenPorchSF      0
EnclosedPorch    0
3SsnPorch        0
ScreenPorch      0
PoolArea         0
MiscVal          0
MoSold           0
YrSold           0
SalePrice        0
dtype: int64

In [13]:
df[columns_object].isna().sum()

MSZoning            0
Street              0
Alley            1369
LotShape            0
LandContour         0
Utilities           0
LotConfig           0
LandSlope           0
Neighborhood        0
Condition1          0
Condition2          0
BldgType            0
HouseStyle          0
RoofStyle           0
RoofMatl            0
Exterior1st         0
Exterior2nd         0
MasVnrType          8
ExterQual           0
ExterCond           0
Foundation          0
BsmtQual           37
BsmtCond           37
BsmtExposure       38
BsmtFinType1       37
BsmtFinType2       38
Heating             0
HeatingQC           0
CentralAir          0
Electrical          1
KitchenQual         0
Functional          0
FireplaceQu       690
GarageType         81
GarageFinish       81
GarageQual         81
GarageCond         81
PavedDrive          0
PoolQC           1453
Fence            1179
MiscFeature      1406
SaleType            0
SaleCondition       0
dtype: int64

In [14]:
########columns_object=df.drop(['PoolQC','Fence','MiscFeature','Alley'],axis=1,inplace=True)

In [15]:
###df.info()

In [16]:
##3df[columns_object].isna().sum()

In [17]:
##df['Alley'].value_counts()

In [18]:
#df.drop(['Alley'],axis=1,inplace=True)

In [19]:
#df.drop(['PoolQC','Fence','MiscFeature'],axis=1,inplace=True)

In [20]:
#df.dtypes

In [21]:
#columns_object11 = df.dtypes[df.dtypes=='object'].index

In [22]:
#df[columns_object11].isna().sum()

In [23]:
#df['FireplaceQu'].value_counts()

In [24]:
#df.drop(['FireplaceQu'],axis=1,inplace=True)

In [25]:
#df

In [26]:
#columns_object12 = df.dtypes[df.dtypes=='object'].index

In [27]:
#df[columns_object12].isna().sum()

In [28]:
#df['BsmtQual'].value_counts()

In [29]:
#df['BsmtQual'].fillna(value=df['BsmtQual'].mode()[0],inplace=True)

In [30]:
#df['BsmtCond'].value_counts()

In [31]:
#df['BsmtCond'].fillna(value=df['BsmtCond'].mode()[0],inplace=True)

In [32]:
#df[columns_object12].isna().sum()

In [33]:
#df['BsmtExposure'].value_counts()

In [34]:
#df['BsmtExposure'].fillna(value=df['BsmtExposure'].mode()[0],inplace=True)

In [35]:
#df[columns_object12].isna().sum()

In [36]:
df[columns_object].isna().sum()

MSZoning            0
Street              0
Alley            1369
LotShape            0
LandContour         0
Utilities           0
LotConfig           0
LandSlope           0
Neighborhood        0
Condition1          0
Condition2          0
BldgType            0
HouseStyle          0
RoofStyle           0
RoofMatl            0
Exterior1st         0
Exterior2nd         0
MasVnrType          8
ExterQual           0
ExterCond           0
Foundation          0
BsmtQual           37
BsmtCond           37
BsmtExposure       38
BsmtFinType1       37
BsmtFinType2       38
Heating             0
HeatingQC           0
CentralAir          0
Electrical          1
KitchenQual         0
Functional          0
FireplaceQu       690
GarageType         81
GarageFinish       81
GarageQual         81
GarageCond         81
PavedDrive          0
PoolQC           1453
Fence            1179
MiscFeature      1406
SaleType            0
SaleCondition       0
dtype: int64

In [37]:
df['MSZoning'].unique()

array(['RL', 'RM', 'C (all)', 'FV', 'RH'], dtype=object)

In [38]:
temp = pd.get_dummies(df['MSZoning'])
temp['SalePrice']=df['SalePrice']
temp.corr()['SalePrice']

C (all)     -0.111257
FV           0.089950
RH          -0.065429
RL           0.245063
RM          -0.288065
SalePrice    1.000000
Name: SalePrice, dtype: float64

In [39]:
df['Alley'].isna().sum()

1369

In [40]:
df['Alley'].value_counts()

Grvl    50
Pave    41
Name: Alley, dtype: int64

In [41]:
df['Neighborhood'].nunique()

25

In [42]:
df['Neighborhood'].value_counts()

NAmes      225
CollgCr    150
OldTown    113
Edwards    100
Somerst     86
Gilbert     79
NridgHt     77
Sawyer      74
NWAmes      73
SawyerW     59
BrkSide     58
Crawfor     51
Mitchel     49
NoRidge     41
Timber      38
IDOTRR      37
ClearCr     28
StoneBr     25
SWISU       25
MeadowV     17
Blmngtn     17
BrDale      16
Veenker     11
NPkVill      9
Blueste      2
Name: Neighborhood, dtype: int64

In [43]:
temp=pd.get_dummies(df['OverallCond'])
temp['SalePrice']=df['SalePrice']
temp.corr()['SalePrice']

1           -0.039533
2           -0.028740
3           -0.131287
4           -0.153510
5            0.317229
6           -0.155052
7           -0.115911
8           -0.072471
9            0.054642
SalePrice    1.000000
Name: SalePrice, dtype: float64

In [44]:
z_score=(df['SalePrice'] - df['SalePrice'].mean())/df['SalePrice'].std()

In [45]:
sum(z_score<-3)

0

In [46]:
sum(z_score>3)

22

In [47]:
df['SalePrice'].std()*3

238327.50864865986

In [48]:
sum(df['SalePrice']>140000)

951

In [49]:
df = pd.read_csv('train.csv',na_values='',keep_default_na=False)

In [50]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 81 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             1460 non-null   int64
 1   MSSubClass     1460 non-null   int64
 2   MSZoning       1460 non-null   object
 3   LotFrontage    1460 non-null   object
 4   LotArea        1460 non-null   int64
 5   Street         1460 non-null   object
 6   Alley          1460 non-null   object
 7   LotShape       1460 non-null   object
 8   LandContour    1460 non-null   object
 9   Utilities      1460 non-null   object
 10  LotConfig      1460 non-null   object
 11  LandSlope      1460 non-null   object
 12  Neighborhood   1460 non-null   object
 13  Condition1     1460 non-null   object
 14  Condition2     1460 non-null   object
 15  BldgType       1460 non-null   object
 16  HouseStyle     1460 non-null   object
 17  OverallQual    1460 non-null   int64
 18  OverallCond    1460 non-null   int64
 19  YearBuilt      1460 non-null   int64
 20  YearRemodAdd   1460 non-null   int64
 21  RoofStyle      1460 non-null   object
 22  RoofMatl       1460 non-null   object
 23  Exterior1st    1460 non-null   object
 24  Exterior2nd    1460 non-null   object
 25  MasVnrType     1460 non-null   object
 26  MasVnrArea     1460 non-null   object
 27  ExterQual      1460 non-null   object
 28  ExterCond      1460 non-null   object
 29  Foundation     1460 non-null   object
 30  BsmtQual       1460 non-null   object
 31  BsmtCond       1460 non-null   object
 32  BsmtExposure   1460 non-null   object
 33  BsmtFinType1   1460 non-null   object
 34  BsmtFinSF1     1460 non-null   int64
 35  BsmtFinType2   1460 non-null   object
 36  BsmtFinSF2     1460 non-null   int64
 37  BsmtUnfSF      1460 non-null   int64
 38  TotalBsmtSF    1460 non-null   int64
 39  Heating        1460 non-null   object
 40  HeatingQC      1460 non-null   object
 41  CentralAir     1460 non-null   object
 42  Electrical     1460 non-null   object
 43  1stFlrSF       1460 non-null   int64
 44  2ndFlrSF       1460 non-null   int64
 45  LowQualFinSF   1460 non-null   int64
 46  GrLivArea      1460 non-null   int64
 47  BsmtFullBath   1460 non-null   int64
 48  BsmtHalfBath   1460 non-null   int64
 49  FullBath       1460 non-null   int64
 50  HalfBath       1460 non-null   int64
 51  BedroomAbvGr   1460 non-null   int64
 52  KitchenAbvGr   1460 non-null   int64
 53  KitchenQual    1460 non-null   object
 54  TotRmsAbvGrd   1460 non-null   int64
 55  Functional     1460 non-null   object
 56  Fireplaces     1460 non-null   int64
 57  FireplaceQu    1460 non-null   object
 58  GarageType     1460 non-null   object
 59  GarageYrBlt    1460 non-null   object
 60  GarageFinish   1460 non-null   object
 61  GarageCars     1460 non-null   int64
 62  GarageArea     1460 non-null   int64
 63  GarageQual     1460 non-null   object
 64  GarageCond     1460 non-null   object
 65  PavedDrive     1460 non-null   object
 66  WoodDeckSF     1460 non-null   int64
 67  OpenPorchSF    1460 non-null   int64
 68  EnclosedPorch  1460 non-null   int64
 69  3SsnPorch      1460 non-null   int64
 70  ScreenPorch    1460 non-null   int64
 71  PoolArea       1460 non-null   int64
 72  PoolQC         1460 non-null   object
 73  Fence          1460 non-null   object
 74  MiscFeature    1460 non-null   object
 75  MiscVal        1460 non-null   int64
 76  MoSold         1460 non-null   int64
 77  YrSold         1460 non-null   int64
 78  SaleType       1460 non-null   object
 79  SaleCondition  1460 non-null   object
 80  SalePrice      1460 non-null   int64
dtypes: int64(35), object(46)
memory usage: 924.0+ KB

In [51]:
df_test = pd.read_csv('test.csv')

In [52]:
train_data_num = df.select_dtypes(exclude=['object'])
test_data_num = df_test.select_dtypes(exclude=['object'])
train_data_num.head()

,Id,MSSubClass,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,BsmtFinSF1,BsmtFinSF2,BsmtUnfSF,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
0,1,60,8450,7,5,2003,2003,706,0,150,...,0,61,0,0,0,0,0,2,2008,208500
1,2,20,9600,6,8,1976,1976,978,0,284,...,298,0,0,0,0,0,0,5,2007,181500
2,3,60,11250,7,5,2001,2002,486,0,434,...,0,42,0,0,0,0,0,9,2008,223500
3,4,70,9550,7,5,1915,1970,216,0,540,...,0,35,272,0,0,0,0,2,2006,140000
4,5,60,14260,8,5,2000,2000,655,0,490,...,192,84,0,0,0,0,0,12,2008,250000

In [53]:
from sklearn.feature_selection import VarianceThreshold
selector = VarianceThreshold(threshold=0.05)

selector.fit(train_data_num.iloc[:, :-1])

sup = selector.get_support()

print('Number of retained features: ', sum(sup))

print('Number low-variance features: ', sum(~sup))

low_var_fet = train_data_num.drop(['SalePrice'], axis=1).loc[:, ~sup].columns.values

print('Low-variance features: ', low_var_fet)

print('Before: ',train_data_num.shape, test_data_num.shape)
train_data_num.drop(low_var_fet, axis=1, inplace=True)
test_data_num.drop(low_var_fet, axis=1, inplace=True)
print('After: ', train_data_num.shape, test_data_num.shape)

Number of retained features:  33
Number low-variance features:  1
Low-variance features:  ['KitchenAbvGr']
Before:  (1460, 35) (1459, 37)
After:  (1460, 34) (1459, 36)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [54]:
corr_mat = train_data_num.corr('pearson')
corr_mat[(corr_mat < 0.3) & (corr_mat > -0.3)] = 0
corr_features = corr_mat['SalePrice'].drop(['SalePrice'])
corr_features.sort_values(ascending=False)

OverallQual      0.790982
GrLivArea        0.708624
GarageCars       0.640409
GarageArea       0.623431
TotalBsmtSF      0.613581
1stFlrSF         0.605852
FullBath         0.560664
TotRmsAbvGrd     0.533723
YearBuilt        0.522897
YearRemodAdd     0.507101
Fireplaces       0.466929
BsmtFinSF1       0.386420
WoodDeckSF       0.324413
2ndFlrSF         0.319334
OpenPorchSF      0.315856
ScreenPorch      0.000000
3SsnPorch        0.000000
PoolArea         0.000000
EnclosedPorch    0.000000
MiscVal          0.000000
MoSold           0.000000
Id               0.000000
BsmtHalfBath     0.000000
BedroomAbvGr     0.000000
HalfBath         0.000000
MSSubClass       0.000000
BsmtFullBath     0.000000
LowQualFinSF     0.000000
BsmtUnfSF        0.000000
BsmtFinSF2       0.000000
OverallCond      0.000000
LotArea          0.000000
YrSold           0.000000
Name: SalePrice, dtype: float64

In [55]:
from itertools import combinations

# find pairs of strongly correalted features
cols = train_data_num.columns.tolist()[:-1]
pairs = []

for pair in combinations(range(len(cols)), 2):
    if corr_mat.loc[cols[pair[0]], cols[pair[1]]] >= 0.7:
        pairs.append((cols[pair[0]], cols[pair[1]]))
        
pairs

[('TotalBsmtSF', '1stFlrSF'),
 ('GrLivArea', 'TotRmsAbvGrd'),
 ('GarageCars', 'GarageArea')]

In [56]:
for _, col in pairs:
    train_data_num.drop(col, axis=1, inplace=True)
    test_data_num.drop(col, axis=1, inplace=True)

train_data_num.head()

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,Id,MSSubClass,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,BsmtFinSF1,BsmtFinSF2,BsmtUnfSF,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
0,1,60,8450,7,5,2003,2003,706,0,150,...,0,61,0,0,0,0,0,2,2008,208500
1,2,20,9600,6,8,1976,1976,978,0,284,...,298,0,0,0,0,0,0,5,2007,181500
2,3,60,11250,7,5,2001,2002,486,0,434,...,0,42,0,0,0,0,0,9,2008,223500
3,4,70,9550,7,5,1915,1970,216,0,540,...,0,35,272,0,0,0,0,2,2006,140000
4,5,60,14260,8,5,2000,2000,655,0,490,...,192,84,0,0,0,0,0,12,2008,250000

In [57]:
train_data_num.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 31 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             1460 non-null   int64
 1   MSSubClass     1460 non-null   int64
 2   LotArea        1460 non-null   int64
 3   OverallQual    1460 non-null   int64
 4   OverallCond    1460 non-null   int64
 5   YearBuilt      1460 non-null   int64
 6   YearRemodAdd   1460 non-null   int64
 7   BsmtFinSF1     1460 non-null   int64
 8   BsmtFinSF2     1460 non-null   int64
 9   BsmtUnfSF      1460 non-null   int64
 10  TotalBsmtSF    1460 non-null   int64
 11  2ndFlrSF       1460 non-null   int64
 12  LowQualFinSF   1460 non-null   int64
 13  GrLivArea      1460 non-null   int64
 14  BsmtFullBath   1460 non-null   int64
 15  BsmtHalfBath   1460 non-null   int64
 16  FullBath       1460 non-null   int64
 17  HalfBath       1460 non-null   int64
 18  BedroomAbvGr   1460 non-null   int64
 19  Fireplaces     1460 non-null   int64
 20  GarageCars     1460 non-null   int64
 21  WoodDeckSF     1460 non-null   int64
 22  OpenPorchSF    1460 non-null   int64
 23  EnclosedPorch  1460 non-null   int64
 24  3SsnPorch      1460 non-null   int64
 25  ScreenPorch    1460 non-null   int64
 26  PoolArea       1460 non-null   int64
 27  MiscVal        1460 non-null   int64
 28  MoSold         1460 non-null   int64
 29  YrSold         1460 non-null   int64
 30  SalePrice      1460 non-null   int64
dtypes: int64(31)
memory usage: 353.7 KB

In [58]:
train_nan_cols = train_data_num.columns[train_data_num.isnull().any()].tolist()
train_nan = pd.DataFrame({ 'Column': train_nan_cols,
                         'NaN_percent': [ train_data_num[col].isnull().sum() * 100 / len(train_data_num) 
                                         for col in train_nan_cols] })

In [59]:
test_nan_cols = test_data_num.columns[test_data_num.isnull().any()].tolist()
test_nan = pd.DataFrame({ 'Column': test_nan_cols,
                         'NaN_percent': [ test_data_num[col].isnull().sum() * 100 / len(test_data_num) 
                                         for col in test_nan_cols] })

In [60]:
from sklearn.impute import SimpleImputer
imp = SimpleImputer(strategy='median')
imp_train_data = pd.DataFrame(imp.fit_transform(train_data_num))
imp_train_data.columns = train_data_num.columns

In [61]:
categorical_features = [col for col in df.columns if df.dtypes[col] == 'object']

# training data
train_data_cat = df[categorical_features + ['SalePrice']]

# test data
test_data_cat = df_test[categorical_features]

train_data_cat.shape, test_data_cat.shape

((1460, 47), (1459, 46))

In [62]:
features_to_drop = ['Street', 
                    'LandContour', 
                    'Utilities', 
                    'LandSlope', 
                    'Condition2', 
                    'RoofMatl', 
                    'BsmtCond', 
                    'BsmtFinType2', 
                    'Heating', 
                    'CentralAir', 
                    'Electrical',
                    'Functional',
                    'GarageQual',
                    'GarageCond',
                    'PavedDrive'
                   ]

train_data_cat.drop(features_to_drop, axis=1, inplace=True)
test_data_cat.drop(features_to_drop, axis=1, inplace=True)

train_data_cat.shape, test_data_cat.shape

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

((1460, 32), (1459, 31))

In [63]:
train_data_cat.drop(['Exterior2nd', 'MasVnrType', 'BsmtExposure'], axis=1, inplace=True)
test_data_cat.drop(['Exterior2nd', 'MasVnrType', 'BsmtExposure'], axis=1, inplace=True)

train_data_cat.shape, test_data_cat.shape

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

((1460, 29), (1459, 28))

In [64]:
train_data_cat.drop(['PoolQC', 'MiscFeature', 'Alley', 'Fence', 'FireplaceQu'], axis=1, inplace=True)
test_data_cat.drop(['PoolQC', 'MiscFeature', 'Alley', 'Fence', 'FireplaceQu'], axis=1, inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [65]:
for col in ['GarageType', 'GarageFinish', 'BsmtQual', 'BsmtFinType1']:
    train_data_cat[col].fillna(train_data_cat[col].mode()[0], inplace=True)
    test_data_cat[col].fillna(test_data_cat[col].mode()[0], inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:6392: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [66]:
train_data_cat.isnull().sum()

MSZoning         0
LotFrontage      0
LotShape         0
LotConfig        0
Neighborhood     0
Condition1       0
BldgType         0
HouseStyle       0
RoofStyle        0
Exterior1st      0
MasVnrArea       0
ExterQual        0
ExterCond        0
Foundation       0
BsmtQual         0
BsmtFinType1     0
HeatingQC        0
KitchenQual      0
GarageType       0
GarageYrBlt      0
GarageFinish     0
SaleType         0
SaleCondition    0
SalePrice        0
dtype: int64

In [67]:
test_data_cat.isnull().sum()

MSZoning           4
LotFrontage      227
LotShape           0
LotConfig          0
Neighborhood       0
Condition1         0
BldgType           0
HouseStyle         0
RoofStyle          0
Exterior1st        1
MasVnrArea        15
ExterQual          0
ExterCond          0
Foundation         0
BsmtQual           0
BsmtFinType1       0
HeatingQC          0
KitchenQual        1
GarageType         0
GarageYrBlt       78
GarageFinish       0
SaleType           1
SaleCondition      0
dtype: int64

In [68]:
cols_null_test = test_data_cat.columns[test_data_cat.isnull().any()]

for col in cols_null_test:
    test_data_cat[col].fillna(test_data_cat[col].mode()[0], inplace=True)

test_data_cat.isnull().sum()

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:6392: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

MSZoning         0
LotFrontage      0
LotShape         0
LotConfig        0
Neighborhood     0
Condition1       0
BldgType         0
HouseStyle       0
RoofStyle        0
Exterior1st      0
MasVnrArea       0
ExterQual        0
ExterCond        0
Foundation       0
BsmtQual         0
BsmtFinType1     0
HeatingQC        0
KitchenQual      0
GarageType       0
GarageYrBlt      0
GarageFinish     0
SaleType         0
SaleCondition    0
dtype: int64

In [69]:
train_data_cat.shape, test_data_cat.shape

((1460, 24), (1459, 23))

In [70]:
train_data_cat.drop(['SalePrice'], axis=1, inplace=True)

train_cat_dummies = pd.get_dummies(train_data_cat)
train_cat_dummies.head()

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,MSZoning_C (all),MSZoning_FV,MSZoning_RH,MSZoning_RL,MSZoning_RM,LotFrontage_100,LotFrontage_101,LotFrontage_102,LotFrontage_103,LotFrontage_104,...,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,SaleCondition_Abnorml,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial
0,0,0,0,1,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,1,0
1,0,0,0,1,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,1,0
2,0,0,0,1,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,1,0
3,0,0,0,1,0,0,0,0,0,0,...,0,0,0,1,1,0,0,0,0,0
4,0,0,0,1,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,1,0

In [71]:
test_cat_dummies = pd.get_dummies(test_data_cat)
test_cat_dummies.head()

,LotFrontage,MasVnrArea,GarageYrBlt,MSZoning_C (all),MSZoning_FV,MSZoning_RH,MSZoning_RL,MSZoning_RM,LotShape_IR1,LotShape_IR2,...,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,SaleCondition_Abnorml,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial
0,80.0,0.0,1961.0,0,0,1,0,0,0,0,...,0,0,0,1,0,0,0,0,1,0
1,81.0,108.0,1958.0,0,0,0,1,0,1,0,...,0,0,0,1,0,0,0,0,1,0
2,74.0,0.0,1997.0,0,0,0,1,0,1,0,...,0,0,0,1,0,0,0,0,1,0
3,78.0,20.0,1998.0,0,0,0,1,0,1,0,...,0,0,0,1,0,0,0,0,1,0
4,43.0,0.0,1992.0,0,0,0,1,0,1,0,...,0,0,0,1,0,0,0,0,1,0

In [72]:
dif = [col for col in train_cat_dummies.columns if col not in test_cat_dummies.columns]
print('Found differences in: ', dif)

Found differences in:  ['LotFrontage_100', 'LotFrontage_101', 'LotFrontage_102', 'LotFrontage_103', 'LotFrontage_104', 'LotFrontage_105', 'LotFrontage_106', 'LotFrontage_107', 'LotFrontage_108', 'LotFrontage_109', 'LotFrontage_110', 'LotFrontage_111', 'LotFrontage_112', 'LotFrontage_114', 'LotFrontage_115', 'LotFrontage_116', 'LotFrontage_118', 'LotFrontage_120', 'LotFrontage_121', 'LotFrontage_122', 'LotFrontage_124', 'LotFrontage_128', 'LotFrontage_129', 'LotFrontage_130', 'LotFrontage_134', 'LotFrontage_137', 'LotFrontage_138', 'LotFrontage_140', 'LotFrontage_141', 'LotFrontage_144', 'LotFrontage_149', 'LotFrontage_150', 'LotFrontage_152', 'LotFrontage_153', 'LotFrontage_160', 'LotFrontage_168', 'LotFrontage_174', 'LotFrontage_182', 'LotFrontage_21', 'LotFrontage_24', 'LotFrontage_30', 'LotFrontage_313', 'LotFrontage_32', 'LotFrontage_33', 'LotFrontage_34', 'LotFrontage_35', 'LotFrontage_36', 'LotFrontage_37', 'LotFrontage_38', 'LotFrontage_39', 'LotFrontage_40', 'LotFrontage_41', 'LotFrontage_42', 'LotFrontage_43', 'LotFrontage_44', 'LotFrontage_45', 'LotFrontage_46', 'LotFrontage_47', 'LotFrontage_48', 'LotFrontage_49', 'LotFrontage_50', 'LotFrontage_51', 'LotFrontage_52', 'LotFrontage_53', 'LotFrontage_54', 'LotFrontage_55', 'LotFrontage_56', 'LotFrontage_57', 'LotFrontage_58', 'LotFrontage_59', 'LotFrontage_60', 'LotFrontage_61', 'LotFrontage_62', 'LotFrontage_63', 'LotFrontage_64', 'LotFrontage_65', 'LotFrontage_66', 'LotFrontage_67', 'LotFrontage_68', 'LotFrontage_69', 'LotFrontage_70', 'LotFrontage_71', 'LotFrontage_72', 'LotFrontage_73', 'LotFrontage_74', 'LotFrontage_75', 'LotFrontage_76', 'LotFrontage_77', 'LotFrontage_78', 'LotFrontage_79', 'LotFrontage_80', 'LotFrontage_81', 'LotFrontage_82', 'LotFrontage_83', 'LotFrontage_84', 'LotFrontage_85', 'LotFrontage_86', 'LotFrontage_87', 'LotFrontage_88', 'LotFrontage_89', 'LotFrontage_90', 'LotFrontage_91', 'LotFrontage_92', 'LotFrontage_93', 'LotFrontage_94', 'LotFrontage_95', 'LotFrontage_96', 'LotFrontage_97', 'LotFrontage_98', 'LotFrontage_99', 'LotFrontage_NA', 'HouseStyle_2.5Fin', 'Exterior1st_ImStucc', 'Exterior1st_Stone', 'MasVnrArea_0', 'MasVnrArea_1', 'MasVnrArea_100', 'MasVnrArea_101', 'MasVnrArea_102', 'MasVnrArea_1031', 'MasVnrArea_104', 'MasVnrArea_1047', 'MasVnrArea_105', 'MasVnrArea_106', 'MasVnrArea_108', 'MasVnrArea_109', 'MasVnrArea_11', 'MasVnrArea_110', 'MasVnrArea_1115', 'MasVnrArea_112', 'MasVnrArea_1129', 'MasVnrArea_113', 'MasVnrArea_114', 'MasVnrArea_115', 'MasVnrArea_116', 'MasVnrArea_117', 'MasVnrArea_1170', 'MasVnrArea_119', 'MasVnrArea_120', 'MasVnrArea_122', 'MasVnrArea_123', 'MasVnrArea_125', 'MasVnrArea_126', 'MasVnrArea_127', 'MasVnrArea_128', 'MasVnrArea_130', 'MasVnrArea_132', 'MasVnrArea_135', 'MasVnrArea_136', 'MasVnrArea_137', 'MasVnrArea_1378', 'MasVnrArea_138', 'MasVnrArea_14', 'MasVnrArea_140', 'MasVnrArea_142', 'MasVnrArea_143', 'MasVnrArea_144', 'MasVnrArea_145', 'MasVnrArea_146', 'MasVnrArea_147', 'MasVnrArea_148', 'MasVnrArea_149', 'MasVnrArea_150', 'MasVnrArea_151', 'MasVnrArea_153', 'MasVnrArea_154', 'MasVnrArea_156', 'MasVnrArea_157', 'MasVnrArea_158', 'MasVnrArea_16', 'MasVnrArea_160', 'MasVnrArea_1600', 'MasVnrArea_161', 'MasVnrArea_162', 'MasVnrArea_163', 'MasVnrArea_164', 'MasVnrArea_165', 'MasVnrArea_166', 'MasVnrArea_167', 'MasVnrArea_168', 'MasVnrArea_169', 'MasVnrArea_170', 'MasVnrArea_171', 'MasVnrArea_172', 'MasVnrArea_174', 'MasVnrArea_175', 'MasVnrArea_176', 'MasVnrArea_178', 'MasVnrArea_18', 'MasVnrArea_180', 'MasVnrArea_182', 'MasVnrArea_183', 'MasVnrArea_184', 'MasVnrArea_186', 'MasVnrArea_188', 'MasVnrArea_189', 'MasVnrArea_192', 'MasVnrArea_194', 'MasVnrArea_196', 'MasVnrArea_200', 'MasVnrArea_202', 'MasVnrArea_203', 'MasVnrArea_204', 'MasVnrArea_205', 'MasVnrArea_206', 'MasVnrArea_207', 'MasVnrArea_208', 'MasVnrArea_209', 'MasVnrArea_210', 'MasVnrArea_212', 'MasVnrArea_215', 'MasVnrArea_216', 'MasVnrArea_218', 'MasVnrArea_219', 'MasVnrArea_22', 'MasVnrArea_220', 'MasVnrArea_223', 'MasVnrArea_224', 'MasVnrArea_225', 'MasVnrArea_226', 'MasVnrArea_228', 'MasVnrArea_230', 'MasVnrArea_232', 'MasVnrArea_233', 'MasVnrArea_234', 'MasVnrArea_236', 'MasVnrArea_237', 'MasVnrArea_238', 'MasVnrArea_24', 'MasVnrArea_240', 'MasVnrArea_243', 'MasVnrArea_244', 'MasVnrArea_245', 'MasVnrArea_246', 'MasVnrArea_247', 'MasVnrArea_248', 'MasVnrArea_250', 'MasVnrArea_252', 'MasVnrArea_254', 'MasVnrArea_255', 'MasVnrArea_256', 'MasVnrArea_258', 'MasVnrArea_259', 'MasVnrArea_260', 'MasVnrArea_261', 'MasVnrArea_262', 'MasVnrArea_263', 'MasVnrArea_266', 'MasVnrArea_268', 'MasVnrArea_27', 'MasVnrArea_270', 'MasVnrArea_272', 'MasVnrArea_274', 'MasVnrArea_275', 'MasVnrArea_278', 'MasVnrArea_28', 'MasVnrArea_280', 'MasVnrArea_281', 'MasVnrArea_284', 'MasVnrArea_285', 'MasVnrArea_286', 'MasVnrArea_287', 'MasVnrArea_288', 'MasVnrArea_289', 'MasVnrArea_290', 'MasVnrArea_292', 'MasVnrArea_293', 'MasVnrArea_294', 'MasVnrArea_295', 'MasVnrArea_296', 'MasVnrArea_297', 'MasVnrArea_298', 'MasVnrArea_299', 'MasVnrArea_30', 'MasVnrArea_300', 'MasVnrArea_302', 'MasVnrArea_304', 'MasVnrArea_305', 'MasVnrArea_306', 'MasVnrArea_309', 'MasVnrArea_31', 'MasVnrArea_310', 'MasVnrArea_312', 'MasVnrArea_315', 'MasVnrArea_318', 'MasVnrArea_32', 'MasVnrArea_320', 'MasVnrArea_324', 'MasVnrArea_328', 'MasVnrArea_333', 'MasVnrArea_335', 'MasVnrArea_336', 'MasVnrArea_337', 'MasVnrArea_338', 'MasVnrArea_34', 'MasVnrArea_340', 'MasVnrArea_342', 'MasVnrArea_344', 'MasVnrArea_348', 'MasVnrArea_350', 'MasVnrArea_351', 'MasVnrArea_359', 'MasVnrArea_36', 'MasVnrArea_360', 'MasVnrArea_361', 'MasVnrArea_362', 'MasVnrArea_365', 'MasVnrArea_366', 'MasVnrArea_368', 'MasVnrArea_370', 'MasVnrArea_375', 'MasVnrArea_376', 'MasVnrArea_378', 'MasVnrArea_38', 'MasVnrArea_380', 'MasVnrArea_381', 'MasVnrArea_387', 'MasVnrArea_388', 'MasVnrArea_391', 'MasVnrArea_396', 'MasVnrArea_399', 'MasVnrArea_40', 'MasVnrArea_408', 'MasVnrArea_41', 'MasVnrArea_410', 'MasVnrArea_412', 'MasVnrArea_415', 'MasVnrArea_42', 'MasVnrArea_420', 'MasVnrArea_423', 'MasVnrArea_424', 'MasVnrArea_425', 'MasVnrArea_426', 'MasVnrArea_428', 'MasVnrArea_432', 'MasVnrArea_435', 'MasVnrArea_436', 'MasVnrArea_438', 'MasVnrArea_44', 'MasVnrArea_442', 'MasVnrArea_443', 'MasVnrArea_448', 'MasVnrArea_45', 'MasVnrArea_450', 'MasVnrArea_451', 'MasVnrArea_452', 'MasVnrArea_456', 'MasVnrArea_459', 'MasVnrArea_46', 'MasVnrArea_464', 'MasVnrArea_466', 'MasVnrArea_468', 'MasVnrArea_472', 'MasVnrArea_473', 'MasVnrArea_479', 'MasVnrArea_48', 'MasVnrArea_480', 'MasVnrArea_481', 'MasVnrArea_491', 'MasVnrArea_50', 'MasVnrArea_500', 'MasVnrArea_506', 'MasVnrArea_51', 'MasVnrArea_510', 'MasVnrArea_513', 'MasVnrArea_528', 'MasVnrArea_53', 'MasVnrArea_530', 'MasVnrArea_54', 'MasVnrArea_541', 'MasVnrArea_554', 'MasVnrArea_56', 'MasVnrArea_562', 'MasVnrArea_564', 'MasVnrArea_567', 'MasVnrArea_57', 'MasVnrArea_571', 'MasVnrArea_573', 'MasVnrArea_576', 'MasVnrArea_579', 'MasVnrArea_584', 'MasVnrArea_594', 'MasVnrArea_60', 'MasVnrArea_600', 'MasVnrArea_603', 'MasVnrArea_604', 'MasVnrArea_616', 'MasVnrArea_621', 'MasVnrArea_63', 'MasVnrArea_630', 'MasVnrArea_632', 'MasVnrArea_64', 'MasVnrArea_640', 'MasVnrArea_65', 'MasVnrArea_650', 'MasVnrArea_651', 'MasVnrArea_653', 'MasVnrArea_66', 'MasVnrArea_660', 'MasVnrArea_664', 'MasVnrArea_67', 'MasVnrArea_673', 'MasVnrArea_68', 'MasVnrArea_70', 'MasVnrArea_705', 'MasVnrArea_72', 'MasVnrArea_731', 'MasVnrArea_74', 'MasVnrArea_748', 'MasVnrArea_75', 'MasVnrArea_76', 'MasVnrArea_760', 'MasVnrArea_762', 'MasVnrArea_766', 'MasVnrArea_768', 'MasVnrArea_772', 'MasVnrArea_788', 'MasVnrArea_796', 'MasVnrArea_80', 'MasVnrArea_81', 'MasVnrArea_816', 'MasVnrArea_82', 'MasVnrArea_84', 'MasVnrArea_85', 'MasVnrArea_86', 'MasVnrArea_860', 'MasVnrArea_870', 'MasVnrArea_88', 'MasVnrArea_89', 'MasVnrArea_894', 'MasVnrArea_90', 'MasVnrArea_92', 'MasVnrArea_921', 'MasVnrArea_922', 'MasVnrArea_94', 'MasVnrArea_95', 'MasVnrArea_96', 'MasVnrArea_97', 'MasVnrArea_975', 'MasVnrArea_98', 'MasVnrArea_99', 'MasVnrArea_NA', 'BsmtQual_NA', 'BsmtFinType1_NA', 'GarageType_NA', 'GarageYrBlt_1900', 'GarageYrBlt_1906', 'GarageYrBlt_1908', 'GarageYrBlt_1910', 'GarageYrBlt_1914', 'GarageYrBlt_1915', 'GarageYrBlt_1916', 'GarageYrBlt_1918', 'GarageYrBlt_1920', 'GarageYrBlt_1921', 'GarageYrBlt_1922', 'GarageYrBlt_1923', 'GarageYrBlt_1924', 'GarageYrBlt_1925', 'GarageYrBlt_1926', 'GarageYrBlt_1927', 'GarageYrBlt_1928', 'GarageYrBlt_1929', 'GarageYrBlt_1930', 'GarageYrBlt_1931', 'GarageYrBlt_1932', 'GarageYrBlt_1933', 'GarageYrBlt_1934', 'GarageYrBlt_1935', 'GarageYrBlt_1936', 'GarageYrBlt_1937', 'GarageYrBlt_1938', 'GarageYrBlt_1939', 'GarageYrBlt_1940', 'GarageYrBlt_1941', 'GarageYrBlt_1942', 'GarageYrBlt_1945', 'GarageYrBlt_1946', 'GarageYrBlt_1947', 'GarageYrBlt_1948', 'GarageYrBlt_1949', 'GarageYrBlt_1950', 'GarageYrBlt_1951', 'GarageYrBlt_1952', 'GarageYrBlt_1953', 'GarageYrBlt_1954', 'GarageYrBlt_1955', 'GarageYrBlt_1956', 'GarageYrBlt_1957', 'GarageYrBlt_1958', 'GarageYrBlt_1959', 'GarageYrBlt_1960', 'GarageYrBlt_1961', 'GarageYrBlt_1962', 'GarageYrBlt_1963', 'GarageYrBlt_1964', 'GarageYrBlt_1965', 'GarageYrBlt_1966', 'GarageYrBlt_1967', 'GarageYrBlt_1968', 'GarageYrBlt_1969', 'GarageYrBlt_1970', 'GarageYrBlt_1971', 'GarageYrBlt_1972', 'GarageYrBlt_1973', 'GarageYrBlt_1974', 'GarageYrBlt_1975', 'GarageYrBlt_1976', 'GarageYrBlt_1977', 'GarageYrBlt_1978', 'GarageYrBlt_1979', 'GarageYrBlt_1980', 'GarageYrBlt_1981', 'GarageYrBlt_1982', 'GarageYrBlt_1983', 'GarageYrBlt_1984', 'GarageYrBlt_1985', 'GarageYrBlt_1986', 'GarageYrBlt_1987', 'GarageYrBlt_1988', 'GarageYrBlt_1989', 'GarageYrBlt_1990', 'GarageYrBlt_1991', 'GarageYrBlt_1992', 'GarageYrBlt_1993', 'GarageYrBlt_1994', 'GarageYrBlt_1995', 'GarageYrBlt_1996', 'GarageYrBlt_1997', 'GarageYrBlt_1998', 'GarageYrBlt_1999', 'GarageYrBlt_2000', 'GarageYrBlt_2001', 'GarageYrBlt_2002', 'GarageYrBlt_2003', 'GarageYrBlt_2004', 'GarageYrBlt_2005', 'GarageYrBlt_2006', 'GarageYrBlt_2007', 'GarageYrBlt_2008', 'GarageYrBlt_2009', 'GarageYrBlt_2010', 'GarageYrBlt_NA', 'GarageFinish_NA']

In [73]:
train_cat_dummies.drop(dif, axis=1, inplace=True)

train_cat_dummies.shape, test_cat_dummies.shape

((1460, 137), (1459, 140))

In [74]:
train_data_new = pd.concat([train_data_num, train_cat_dummies], axis=1)
test_data_new = pd.concat([test_data_num, test_cat_dummies], axis=1)

train_data_new.shape, test_data_new.shape

((1460, 168), (1459, 173))

In [75]:
train_data_new['Age'] = train_data_new['YearBuilt'].max() - train_data_new['YearBuilt']
test_data_new['Age'] = test_data_new['YearBuilt'].max() - test_data_new['YearBuilt']

In [76]:
import numpy as np



train_data_new['Renovate'] = train_data_new['YearRemodAdd'] - train_data_new['YearBuilt']
test_data_new['Renovate'] = test_data_new['YearRemodAdd'] - test_data_new['YearBuilt']

train_data_new['Renovate'] = np.where(train_data_new['Renovate'] < 0, 0, train_data_new['Renovate'])
test_data_new['Renovate'] = np.where(test_data_new['Renovate'] < 0, 0, test_data_new['Renovate'])

# Drop YearBuilt
train_data_new.drop(['YearBuilt'], axis=1, inplace=True)
test_data_new.drop(['YearBuilt'], axis=1, inplace=True)
# Drop YearRemodAdd
train_data_new.drop(['YearRemodAdd'], axis=1, inplace=True)
test_data_new.drop(['YearRemodAdd'], axis=1, inplace=True)

In [77]:
train_data_new['Qual_Area'] = train_data_new['OverallQual'] * train_data_new['GrLivArea']
test_data_new['Qual_Area'] = test_data_new['OverallQual'] * test_data_new['GrLivArea']

In [78]:
cont_features = train_data_new.select_dtypes(include=['int', 'float']).drop(['SalePrice'], axis=1).columns.tolist()

cont_data = train_data_new.loc[:, cont_features]
cont_data.head()

,Id,MSSubClass,LotArea,OverallQual,OverallCond,BsmtFinSF1,BsmtFinSF2,BsmtUnfSF,TotalBsmtSF,2ndFlrSF,...,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,Age,Renovate,Qual_Area
0,1,60,8450,7,5,706,0,150,856,854,...,0,0,0,0,0,2,2008,7,0,11970
1,2,20,9600,6,8,978,0,284,1262,0,...,0,0,0,0,0,5,2007,34,0,7572
2,3,60,11250,7,5,486,0,434,920,866,...,0,0,0,0,0,9,2008,9,1,12502
3,4,70,9550,7,5,216,0,540,756,756,...,272,0,0,0,0,2,2006,95,55,12019
4,5,60,14260,8,5,655,0,490,1145,1053,...,0,0,0,0,0,12,2008,10,0,17584

In [79]:
skew_data = pd.DataFrame({
    'Column': cont_features,
    'Skew': abs(cont_data.skew())
}).sort_values('Skew', ascending=False)

skew_data

                      Column       Skew
MiscVal              MiscVal  24.476794
PoolArea            PoolArea  14.828374
LotArea              LotArea  12.207688
3SsnPorch          3SsnPorch  10.304342
LowQualFinSF    LowQualFinSF   9.011341
BsmtFinSF2        BsmtFinSF2   4.255261
ScreenPorch      ScreenPorch   4.122214
BsmtHalfBath    BsmtHalfBath   4.103403
EnclosedPorch  EnclosedPorch   3.089872
OpenPorchSF      OpenPorchSF   2.364342
Qual_Area          Qual_Area   2.018926
Renovate            Renovate   1.957396
BsmtFinSF1        BsmtFinSF1   1.685503
WoodDeckSF        WoodDeckSF   1.541376
TotalBsmtSF      TotalBsmtSF   1.524255
MSSubClass        MSSubClass   1.407657
GrLivArea          GrLivArea   1.366560
BsmtUnfSF          BsmtUnfSF   0.920268
2ndFlrSF            2ndFlrSF   0.813030
OverallCond      OverallCond   0.693067
HalfBath            HalfBath   0.675897
Fireplaces        Fireplaces   0.649565
Age                      Age   0.613461
BsmtFullBath    BsmtFullBath   0.596067
GarageCars        GarageCars   0.342549
OverallQual      OverallQual   0.216944
MoSold                MoSold   0.212053
BedroomAbvGr    BedroomAbvGr   0.211790
YrSold                YrSold   0.096269
FullBath            FullBath   0.036562
Id                        Id   0.000000

In [80]:
skew_features = skew_data[skew_data['Skew'] > 0.5]['Column'].tolist()
skew_features

['MiscVal',
 'PoolArea',
 'LotArea',
 '3SsnPorch',
 'LowQualFinSF',
 'BsmtFinSF2',
 'ScreenPorch',
 'BsmtHalfBath',
 'EnclosedPorch',
 'OpenPorchSF',
 'Qual_Area',
 'Renovate',
 'BsmtFinSF1',
 'WoodDeckSF',
 'TotalBsmtSF',
 'MSSubClass',
 'GrLivArea',
 'BsmtUnfSF',
 '2ndFlrSF',
 'OverallCond',
 'HalfBath',
 'Fireplaces',
 'Age',
 'BsmtFullBath']

In [81]:
for col in skew_features:
    train_data_new[col] = np.log(train_data_new[col] + 1)
    test_data_new[col] = np.log(test_data_new[col] + 1)

In [82]:
train_data_new['SalePriceLog'] = np.log(train_data_new['SalePrice'])

train_data_new.drop('SalePrice', axis=1, inplace=True)

In [83]:
X = train_data_new.drop(['SalePriceLog'], axis=1)
y = train_data_new['SalePriceLog']

print('X shape: ', X.shape)
print('y shape: ', y.shape)

X shape:  (1460, 168)
y shape:  (1460,)

In [84]:
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler().fit(X)

In [85]:
import statsmodels.api as sm

def backward_elimination(X, y, threshold=0.05):
    features = X.columns.tolist()
    
    while True:
        changed = False
        model = sm.OLS(y, sm.add_constant(pd.DataFrame(X[features]))).fit()
        pvalues = model.pvalues.iloc[1:]
        worst_pval = pvalues.max()
        if worst_pval > threshold:
            changed = True
            worst_fet = pvalues.idxmax()
            features.remove(worst_fet)
        if not changed:
            break
            
    return features

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [86]:
selected_features = backward_elimination(X, y)
selected_features

/usr/local/lib/python3.7/dist-packages/statsmodels/tsa/tsatools.py:117: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

['LotArea',
 'OverallQual',
 'OverallCond',
 'BsmtFinSF1',
 'BsmtUnfSF',
 'TotalBsmtSF',
 'GrLivArea',
 'BsmtFullBath',
 'FullBath',
 'HalfBath',
 'Fireplaces',
 'GarageCars',
 'WoodDeckSF',
 'ScreenPorch',
 'YrSold',
 'MSZoning_C (all)',
 'MSZoning_FV',
 'MSZoning_RH',
 'MSZoning_RL',
 'MSZoning_RM',
 'LotShape_IR1',
 'LotShape_IR2',
 'LotShape_IR3',
 'LotShape_Reg',
 'LotConfig_Corner',
 'LotConfig_CulDSac',
 'LotConfig_FR2',
 'LotConfig_FR3',
 'LotConfig_Inside',
 'Neighborhood_Blmngtn',
 'Neighborhood_BrDale',
 'Neighborhood_BrkSide',
 'Neighborhood_ClearCr',
 'Neighborhood_CollgCr',
 'Neighborhood_Crawfor',
 'Neighborhood_Gilbert',
 'Neighborhood_Mitchel',
 'Neighborhood_NAmes',
 'Neighborhood_NPkVill',
 'Neighborhood_NWAmes',
 'Neighborhood_NoRidge',
 'Neighborhood_NridgHt',
 'Neighborhood_SWISU',
 'Neighborhood_Sawyer',
 'Neighborhood_SawyerW',
 'Neighborhood_Somerst',
 'Neighborhood_StoneBr',
 'Neighborhood_Timber',
 'Neighborhood_Veenker',
 'Condition1_Artery',
 'Condition1_Feedr',
 'Condition1_Norm',
 'Condition1_PosA',
 'Condition1_PosN',
 'Condition1_RRAe',
 'Condition1_RRAn',
 'Condition1_RRNe',
 'Condition1_RRNn',
 'BldgType_1Fam',
 'BldgType_2fmCon',
 'BldgType_Duplex',
 'BldgType_Twnhs',
 'BldgType_TwnhsE',
 'HouseStyle_1.5Fin',
 'HouseStyle_2Story',
 'RoofStyle_Flat',
 'RoofStyle_Gable',
 'RoofStyle_Gambrel',
 'RoofStyle_Hip',
 'RoofStyle_Mansard',
 'RoofStyle_Shed',
 'Exterior1st_BrkFace',
 'Exterior1st_MetalSd',
 'ExterQual_Ex',
 'ExterQual_Fa',
 'ExterQual_Gd',
 'ExterQual_TA',
 'ExterCond_Ex',
 'ExterCond_Fa',
 'ExterCond_Gd',
 'ExterCond_Po',
 'ExterCond_TA',
 'Foundation_BrkTil',
 'Foundation_CBlock',
 'Foundation_PConc',
 'Foundation_Slab',
 'Foundation_Stone',
 'Foundation_Wood',
 'BsmtQual_Ex',
 'BsmtQual_Fa',
 'BsmtQual_Gd',
 'BsmtQual_TA',
 'BsmtFinType1_ALQ',
 'BsmtFinType1_BLQ',
 'BsmtFinType1_GLQ',
 'BsmtFinType1_LwQ',
 'BsmtFinType1_Rec',
 'BsmtFinType1_Unf',
 'HeatingQC_Ex',
 'HeatingQC_Fa',
 'HeatingQC_Gd',
 'HeatingQC_Po',
 'HeatingQC_TA',
 'KitchenQual_Ex',
 'KitchenQual_Fa',
 'KitchenQual_Gd',
 'KitchenQual_TA',
 'GarageType_2Types',
 'GarageType_CarPort',
 'SaleType_COD',
 'SaleType_CWD',
 'SaleType_Con',
 'SaleType_ConLD',
 'SaleType_ConLI',
 'SaleType_ConLw',
 'SaleType_New',
 'SaleType_Oth',
 'SaleType_WD',
 'SaleCondition_Abnorml',
 'SaleCondition_AdjLand',
 'SaleCondition_Alloca',
 'SaleCondition_Family',
 'SaleCondition_Normal',
 'SaleCondition_Partial',
 'Age']

In [87]:
X = X.loc[:, selected_features]
test_data_new = test_data_new.loc[:, selected_features]

In [88]:
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.15)
print('Train size:', X_train.shape, y_train.shape)
print('Validation size:', X_val.shape, y_val.shape)

Train size: (1241, 125) (1241,)
Validation size: (219, 125) (219,)

In [89]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
import sklearn.metrics as metrics
linreg = LinearRegression()
linreg.fit(X_train, y_train)

LinearRegression()

In [102]:
#df['BsmtCond'].fillna(value=df['BsmtCond'].mode()[0],inplace=True)
test_data_new.isna().sum()

LotArea                  0
OverallQual              0
OverallCond              0
BsmtFinSF1               1
BsmtUnfSF                1
                        ..
SaleCondition_Alloca     0
SaleCondition_Family     0
SaleCondition_Normal     0
SaleCondition_Partial    0
Age                      0
Length: 125, dtype: int64

In [103]:
test_data_new.fillna(value=test_data_new['BsmtFinSF1'].mode()[0],inplace=True)

In [104]:
test_data_new.isna().sum()

LotArea                  0
OverallQual              0
OverallCond              0
BsmtFinSF1               0
BsmtUnfSF                0
                        ..
SaleCondition_Alloca     0
SaleCondition_Family     0
SaleCondition_Normal     0
SaleCondition_Partial    0
Age                      0
Length: 125, dtype: int64

In [107]:
id_test = df_test['Id'].tolist()

In [108]:
y_pred = np.exp(linreg.predict(test_data_new))


submission = pd.DataFrame({
    'Id': id_test,
    'SalePrice': y_pred
})

submission.head()

     Id      SalePrice
0  1461  118866.092888
1  1462  157629.452349
2  1463  181835.025655
3  1464  199024.521372
4  1465  208235.645538

In [109]:
submission.to_csv("submission.csv", index=False)

In [114]:
!pip install catboost

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting catboost
  Downloading catboost-1.0.6-cp37-none-manylinux1_x86_64.whl (76.6 MB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 76.6 MB 1.3 MB/s
Requirement already satisfied: numpy>=1.16.0 in /usr/local/lib/python3.7/dist-packages (from catboost) (1.21.6)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (from catboost) (3.2.2)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from catboost) (1.15.0)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from catboost) (1.4.1)
Requirement already satisfied: graphviz in /usr/local/lib/python3.7/dist-packages (from catboost) (0.10.1)
Requirement already satisfied: plotly in /usr/local/lib/python3.7/dist-packages (from catboost) (5.5.0)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from catboost) (1.3.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->catboost) (2022.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->catboost) (2.8.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (0.11.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (3.0.9)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (1.4.3)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from kiwisolver>=1.0.1->matplotlib->catboost) (4.1.1)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.7/dist-packages (from plotly->catboost) (8.0.1)
Installing collected packages: catboost
Successfully installed catboost-1.0.6

In [116]:
def rmse_score(y_true, y_pred):
    return np.sqrt(mean_squared_error(y_true, y_pred))



r2_list = []
rmse_list = []

def get_metrics(model):
    r2 = model.score(X_val, y_val)
    rmse = rmse_score(y_val, model.predict(X_val))
    r2_list.append(r2)
    rmse_list.append(rmse)
    print('Cross validation score:', cross_val_score(model, X_train, y_train, cv=5))
    print('R2 score:', r2)
    print('RMSE:', rmse)

In [117]:
from catboost import CatBoostRegressor
cbr = CatBoostRegressor()
cbr.fit(X_train, y_train, verbose=0)

cbr_pred = cbr.predict(X_val)

cbr_r2 = r2_score(y_val, cbr_pred)
cbr_rmse = rmse_score(y_val, cbr_pred)
r2_list.append(cbr_r2)
rmse_list.append(cbr_rmse)

print('R2 score:', cbr_r2)
print('RMSE score:', cbr_rmse)

R2 score: 0.9267452862846739
RMSE score: 0.10252208618315488

In [118]:
y_pred = np.exp(cbr.predict(test_data_new))


submission = pd.DataFrame({
    'Id': id_test,
    'SalePrice': y_pred
})

submission.head()

     Id      SalePrice
0  1461  117264.928411
1  1462  166847.774853
2  1463  182203.498684
3  1464  200732.299980
4  1465  191978.568762

In [119]:
submission.to_csv("submission1.csv", index=False)